[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
pyqt6 = "~=6.4.2"
pyinstaller = "*"
pyexcel-xlsx = "*"
xlsxwriter = "*"
pipfile = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.9"
