[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipfile = "*"
pyqt6 = "*"
pyexcel-xlsx = "*"
xlsxwriter = "*"
scipy = "*"
pyinstaller = "*"

[dev-packages]
pyinstaller = "*"
xlsxwriter = "*"

[requires]
python_version = "3.10"
